
* {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html {font:14px/1.231; *font-size:small; }

body,
button,
input,
select,
textarea {color: $darkBGTextColor; font-family: 'Roboto', sans-serif; font-size: 14px; font-size: 1.4rem; line-height: 1.5em; font-weight:300;}

body {background: $mainBGcolor url('images/black_paper.png') repeat top left;}

/* Headings */
h1, h2, h3, h4, h5, h6 {font-family: 'Roboto Condensed'; font-weight:700; float:none; line-height: 1em;}
h1 {font-size:3.8em; text-transform: uppercase;}
h2 {font-size:2.9em; text-transform: uppercase;}
h3 {font-size:2.4em;}
h4 {font-size:2.0em;}
h5 {font-size:1.7em;}
h6 {font-size:1.1em;}
hr {background-color: $darkBGColor; border: 0; height: 1px; margin-bottom: 1em;}

.clearfix:after {content: "."; display: block; height: 0px; clear: both; visibility: hidden;}

.fullheight { width:100%; height:auto; min-height:100%; clear:both; background-size:contain; background-size:cover; background-position:center; background-attachment:fixed; @include smallshadow; overflow: hidden; margin-bottom:0px; padding-top:65px; padding-bottom:25px; margin-top:-65px;}
.fullheight.insidepage {background-attachment:fixed;}
.darkOverlay {background: $darkBGColor; padding:10px 15px;}
.menu-toggle {display: none;}
.hide {display:none; height:0px;}
.thin {font-weight: 300;}
.textright {text-align: right;}

.overlaybg {background-repeat: repeat; background-size: 8px 8px; margin-bottom: -24px; padding-bottom:25px; height:auto; min-height:100%;}
.Red_Lines {background-image:url('images/Red_Lines.png');}
.Orange_Lines {background-image:url('images/Orange_Lines.png');}
.Yellow_Lines {background-image:url('images/Yellow_Lines.png');}
.Green_Lines {background-image:url('images/Green_Lines.png');}
.Blue_Lines {background-image:url('images/Blue_Lines.png');}
.Grey_Lines {background-image:url('images/Grey_Lines.png');}

img {max-width: 100%;}
.caption {background: $lightBGColor; color: $lightBGTextColor; text-align: center; @include smallshadow;
	img {width:100%;}
}
.icon {vertical-align: middle;}


/* Text elements */
p {margin: 0.5em 0px 1.5em 0px;}
p:empty {margin:0px; padding:0px;}
ul, ol {margin: 0 0 1.5em 3em;}
ul {list-style: disc;}
ol {list-style: decimal;}
li > ul,
li > ol {margin-bottom: 0; margin-left: 1.5em;}
dt {font-weight: bold;}
dd {margin: 0 1.5em 1.5em;}
b, strong, .strong, .bold {font-weight: 900;}
dfn, cite, em, i {font-style: italic;}
blockquote {margin: 0 1.5em 2em 1.5em;}
address {margin: 0 0 1.5em;}
pre {background: #eee; font-family: "Courier 10 Pitch", Courier, monospace; font-size: 15px; font-size: 1.5rem; line-height: 1.6; margin-bottom: 1.6em; padding: 1.6em; overflow: auto; max-width: 100%;}
code, kbd, tt, var {font: 12px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; white-space: normal;}
abbr, acronym {border-bottom: 1px dotted #666; cursor: help;}
mark, ins {background: #fff9c0; text-decoration: none;}
sup,
sub {font-size: 75%; height: 0; line-height: 0; position: relative; vertical-align: baseline;}
sup {bottom: 1ex;}
sub {top: .5ex;}
small, .smaller {font-size: 75%;}
big, .larger {font-size: 125%;}
figure {margin: 0;}
table {margin: 0 0 1.5em; width: 100%;}
th {font-weight: 900;}
img {height: auto; max-width: 100%;}
button,
input,
select,
textarea {font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle;}
img, a, input, textarea {outline:none;}
button,
input {line-height: normal;}

button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* Addresses box sizing set to content-box in IE8/9 */
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {color: #666; border: 1px solid #ccc; border-radius: 3px;}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {color: #111;}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {padding: 3px;}
textarea {overflow: auto; padding-left: 3px; vertical-align: top; width: 98%;}


/* Links */
a, a:visited {color: $linkColor; text-decoration:none; font-weight:900;}
a:hover,
a:focus,
a:active {color: $linkHoverColor; text-decoration:none;font-weight:900;}

button,
.button,
a.button,
a.button:visited,
input[type="reset"],
input[type="submit"] {border-radius:$borderRadius; background: $redBG; color: $darkBGTextColor; display:block; width:100%; clear:both; margin:0.5em 0; text-align: center; text-decoration: none; padding:0.5em 1.5em;  border-radius:$borderRadius; border-top:1px solid rgba(255,255,255,0.2); border-left:1px solid rgba(255,255,255,0.1); border-bottom:1px solid rgba(0,0,0,0.4); border-right:1px solid rgba(0,0,0,0.2); @include blurshadow; @include darkTextShadow; font-size: 2.3em; font-size: 2.3rem; line-height:1em; text-transform: uppercase; font-weight: 700;}

button:hover,
.button:hover,
.button:visited:hover, 
.button:focus,
a.button:hover,
a.button:visited:hover,
a.button:focus,
input[type="reset"]:hover,
input[type="submit"]:hover {background:$redBGhover; color: $darkBGTextColor; text-decoration: none;}

/* Alignment */
.alignleft {display: inline; float: left; margin-right: 1.5em;}
.alignright {display: inline; float: right; margin-left: 1.5em;}
.aligncenter {clear: both; display: block; margin: 0 auto;}

/* Text meant only for screen readers */
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute !important;}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {background-color: #f1f1f1; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; color: #21759b; display: block; font-size: 14px; font-weight: bold; height: auto; left: 5px;	line-height: normal;	padding: 15px 23px 14px;	text-decoration: none;	top: 5px;	width: auto;	z-index: 100000; /* Above WP toolbar */}

/* Clearing */
.clear:before,
.clear:after,
[class*="content"]:before,
[class*="content"]:after,
[class*="site"]:before,
[class*="site"]:after {content: ''; display: table;}

.clear:after,
[class*="content"]:after,
[class*="site"]:after {clear: both;}